<aside class="sidebar">
    <div class="input-group mb-3 pb-1">
        <input class="form-control text-1" placeholder="Search..." name="s" id="search-input" type="text">
        <span class="input-group-append">
        <button type="button" class="btn btn-dark text-1 p-2" id="search-btn"><i class="fas fa-search m-2"></i></button>
    </span>
    </div>
    {% include docstree.html %}
    <h5 class="font-weight-bold pt-4">About Me</h5>
    <p>You know me as tcpip. This site is my site, discussing stuff that I dabble in and think about.</p>
    {% include tags.html %}
</aside>
