<aside class="sidebar">
    <form action="page-search-results.html" method="get">
        <div class="input-group mb-3 pb-1">
            <input class="form-control text-1" placeholder="Search..." name="s" id="s" type="text">
            <span class="input-group-append">
											<button type="submit" class="btn btn-dark text-1 p-2"><i class="fas fa-search m-2"></i></button>
										</span>
        </div>
    </form>
    {% include docstree.html %}
    <h5 class="font-weight-bold pt-4">About Me</h5>
    <p>You know me as tcpip. This site is my site, discussing stuff that I dabble in and think about.</p>
    <h5 class="font-weight-bold pt-4 mb-2">Tags</h5>
    <div class="mb-3 pb-1">
        <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">design</span></a>
        <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">brands</span></a>
        <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">video</span></a>
        <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">business</span></a>
        <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">travel</span></a>
    </div>
    <h5 class="font-weight-bold pt-4">Find us on Facebook</h5>
    <div class="fb-page" data-href="https://www.facebook.com/OklerThemes/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/OklerThemes/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/OklerThemes/">Okler Themes</a></blockquote></div>
</aside>
