<section class="page-header page-header-modern bg-color-secondary page-header-md">
    <div class="container">
        <div class="row">

            <div class="col-md-8 align-self-center p-static order-2 order-md-1">
                <h1 class="text-dark text-12 text-uppercase">Eggs: <strong>the Akuri</strong></h1>
                <!-- <span class="sub-title text-dark">Check out our Latest News!</span> -->
            </div>

            <div class="col-md-4 text-dark align-self-center order-1 order-md-2">


                <ul class="breadcrumb d-block text-4 text-md-right">
                    <li><a href="#">Jaamva chalo ji</a></li>
                    <li class="active">Recipes</li>
                    <li class="active">Eggs, scrambled</li>
                </ul>
            </div>
        </div>
    </div>
</section>
