<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site.title }}</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ '/assets/images/d-favicon.ico' | relative_url }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light&display=swap" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{ '/assets/vendor/bootstrap/css/bootstrap.min.css' | relative_url}}">
    <link rel="stylesheet" href="{{ '/assets/vendor/fontawesome-free/css/all.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/vendor/animate/animate.compat.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/vendor/simple-line-icons/css/simple-line-icons.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/vendor/owl.carousel/assets/owl.carousel.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/vendor/owl.carousel/assets/owl.theme.default.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/vendor/magnific-popup/magnific-popup.min.css' | relative_url }}">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/theme.css' | relative_url}}">
    <link rel="stylesheet" href="{{ '/assets/css/theme-elements.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/theme-blog.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/theme-shop.css' | relative_url }}">
    <!-- Demo CSS -->


    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/skins/default.css' | relative_url }}">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

    <!-- Head Libs -->
    <script src="{{ '/assets/vendor/modernizr/modernizr.min.js' | relative_url }}"></script>


</head>
<body>

    <div class="body">

        {% include header.html %}

        <div role="main" class="main">
            <div class="container py-4">

                <div class="row">
                    <div class="col-lg-3">
                        {% include sidebar.html %}
                    </div>
                    <div class="col-lg-9" id="content">
                        {{ content }}
                    </div>
                </div>

            </div>

        </div>

        {% include footer.html %}

        {% include footer-copyright.html %}
    </div>

<!-- Vendor -->
    <script src="{{ '/assets/vendor/jquery/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/vendor/bootstrap/js/bootstrap.min.js' | relative_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.8/lunr.min.js"></script>
    <script src="{{ '/assets/js/custom.js' | relative_url }}"></script>


    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12345678-1', 'auto');
        ga('send', 'pageview');
    </script>
     -->

</body>
</html>
